<nav class="navbar fixed-bottom navbar-dark bg-dark">
  {{#if user}}
  <a class="navbar-brand" href="/profile"><i class="fa fa-user"></i></a>
  <a class="navbar-brand" href="/addPost"><i class="far fa-plus-square"></i></a>
  <a class="navbar-brand" href="#">&copy 2020</a>
  {{else}}
  <a class="navbar-brand" href="#">&copy 2020 all rights reserved</a>
  {{/if}}
</nav>
