<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">SocialMedia</a>
  {{#if user}}
  <a class="navbar-brand" href="/profile">Welcome, {{user.firstname}}</a>
  {{else}}
  {{/if}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
      </li>
      {{#if user}}
      <li class="nav-item">
        <a class="navbar-brand" href="/logout"><i class="fa fa-sign-out">Logout</i></a>
      </li>
      {{else}}
      {{/if}}
    </ul>
  </div>
</nav>