<h1>About Page</h1>
<div>
<p><ul><li>This is a social media application where users can signup/login using google, facebook authentication.</li>
    <li>Also, users can create, delete and edit their post and also comment on the public posts of other users.</li>
    <li>For creating a post go to the plus sign in the footer and you can either create a public or a private post, public post can be viewed in the feeds page by
    clicking on the globe icon on the nav bar, and private posts are only visible on the user's dashboard.</li>
    <li>Users can view all other users using the app by going to the users page by clicking on the public iconon the nav bar.</li></ul>
</p>
</div>
