<div id="homepage" class="container">
    <h1>Welcome</h1>
    <h1>Social Media App</h1>
    <h1>
        <a href="/auth/google" class="btn-social btn-gplus btn-lg">
        <i class="fa fa-google-plus"></i> Register/Login With Google
        </a>
    </h1>
    <h1>
        <a href="/auth/facebook" class="btn-social btn-facebook btn-lg">
        <i class="fa fa-facebook"></i> Register/Login With Facebook
        </a>
    </h1>
</div>