<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img src="{{user.image}}" class="img-thumbnail">
        </div> 
        <div class="col-sm-4">
            <h5 class="mt-0">{{user.fullname}}</h5>
            <p>Email: {{user.email}}</p>
        </div>       
    </div>
</div>