#homepage{
    text-align: center;
}
.btn-facebook{
    background-color: #4aa1f3;
    border-radius: 0%;
    color: #fff;
    width: auto;
}
.btn-facebook:link, 
.btn-facebook:visited{
    text-decoration: none;
    background-color: #4aa1f3;
    color: #fff;
}
.btn-gplus{
    background-color: #e44b34;
    color: #fff;
    border-radius: 0%;
    width: auto;
}
.btn-gplus:link, 
.btn-gplus:visited{
    text-decoration: none;
    background-color: #e44b34;
    color: #fff;
}
.btn-instagram{
    background-color: rgb(195, 42, 163);
    border-radius: 0%;
    width: auto;
    color: #fff;
}
.btn-instagram:link, 
.btn-instagram:visited{
    text-decoration: none;
    background-color: rgb(195, 42, 163);
    color: #fff;
}
#welcome{
    color: #4aa1f3;
}
h1{
    text-align: center;
}
#main{
    margin-top: 60px;
    margin-bottom: 50px;
}